<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "../css/style_communicator.css">
    <link rel="stylesheet" type = "text/css" href = "../css/bars.css">
    <script src="https://kit.fontawesome.com/ac9bb0216f.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="container">
        <div class="notice_info">
            <div class="route">
                <output>MIASTO1</output>
                <i class="fas fa-arrow-right"></i>
                <output>MIASTO2</output>
            </div>
            <div class="date">
                <output>Day</output>
                <output>Mounth</output>
                <output>Year</output>
            </div>
            <div class="user">
                <img src="../img/tmp_user.svg">
                <output>NAME Surname</output>
            </div>
        </div>

        <div class="chat">
            <div class="messages">
                <div class="m_get">
                    <div class="recipient_img">

                    </div>
                    <div class="recipient_message">

                    </div>
                </div>
                <div class="m_send">

                </div>
            </div>
            <div class="navigation_bars">
                <div class="send_message">
                    <input name="message_input" type="text" placeholder="Aa">
                </div>
                <ul>
                    <li>
                        <i class="fas fa-plus-circle"></i>
                    </li>
                    <li>
                        <i class="fas fa-image"></i>
                    </li>
                    <li>
                        <i class="fas fa-smile"></i>
                    </li>
                    <li>
                        <i class="fas fa-chevron-circle-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>