<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "../css/style_communicator.css">
    <link rel="stylesheet" type = "text/css" href = "../css/bars.css">
    <script src="https://kit.fontawesome.com/ac9bb0216f.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="container">
        <div class="route_info">
            <div class="route">
                <output>MIASTO1</output>
                <i class="fas fa-arrow-right"></i>
                <output>MIASTO2</output>
            </div>
            <div class="date">
                <output>Day</output>
                <output>Mounth</output>
                <output>Year</output>
            </div>
        </div>

        <div class="curier_info">
            <div class="foto">
                <img src="../img/tmp_user.svg">
                <output>NAME Surname</output>
            </div>
            <div class="curier">
                <output>Name</output>
                <output>Surname</output>
                <output>5/5</output>
                <i class="fas fa-star"></i>
            </div>
            <div class="career_info">
                <div class="orders">
                    <output>Wykonane zlecenia:</output>
                    <output>LICZBA</output>
                </div>
                <div class="sum_route">
                    <output>Przejechane kilometry:</output>
                    <output>LICZBA</output>
                    <output>km</output>
                </div>    
            </div>
        </div>

        <div class="view_map">
            <img src="../img/tmp_map.svg">
        </div>

        <div class="notice_info">
            <div class="data">
                <div class="car">
                    <i class="fas fa-car-side"></i>
                    <output>Auto:</output>
                </div>
                <div class="extra_road">
                    <i class="fas fa-car-side"></i>
                    <output>Dodatkowa drowa:</output>
                </div>
                <div class="max_size">
                    <i class="fas fa-box"></i>
                    <output>Maksymalny rozmiar:</output>
                </div>
                <div class="description">
                    <i class="fas fa-file-alt"></i>
                    <output>Opis:</output>
                </div>
            </div>
            <div class="buttons">
                <button class="button">Opinie</button>
                <button class="button">Wycena</button>
                <button class="button">Kontynuuj</button>
            </div>
        </div>
    </div>
</body>
</html>