<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "../css/style.css">
    <title>LOGIN</title>
</head>
<body>
    <div class="container">
        <div>
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="slogan">
                <output>From Random</output>
                <output> For You</output>
            </div>
        </div>
        
        
        <div class="login-container">
            <form>
                <input name="email" type="text" placeholder="E-mail">
                <input name="password" type="password" placeholder="Hasło">
                <button class="button">Kontynuuj</button>
            </form>
        </div>
    </div>
</body>
</html>