<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "../css/style_profile_notice.css">
    <link rel="stylesheet" type = "text/css" href = "public/css/bars.css">
    <script src="https://kit.fontawesome.com/ac9bb0216f.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="container">
        <div class="profile_info">
            <div class="foto">
                <img src="../img/tmp_user.svg">
            </div>
            <div class="curier">
                <output>Name</output>
                <output>Surname</output>
                <output>5/5</output>
                <i class="fas fa-star"></i>
            </div>
            <div class="orders">
                <output>Wykonane zlecenia:</output>
                <output>LICZBA</output>
            </div>
            <div class="sum_route">
                <output>Przejechane kilometry:</output>
                <output>LICZBA</output>
                <output>km</output>
            </div>   
            <div class="break_orders">
                <output>Zerwane zlecenia:</output>
                <output>LICZBA</output>
            </div>
            <div class="opinion">
                <output>Opinie:</output>
                <output>LICZBA</output>
            </div>   
        </div>

        <div class="comments">

        </div>

        <div class="buttons">
            <button class="button">Dodaj</button>
            <button class="button">Kontynuuj</button>
        </div>
    </div>
</body>
</html>