<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "../css/style_communicator.css">
    <link rel="stylesheet" type = "text/css" href = "../css/bars.css">
    <script src="https://kit.fontawesome.com/ac9bb0216f.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="container">
        <div class="user_form">
            <input name="email" type="text" placeholder="E-mail:">
            <input name="password" type="password" placeholder="Hasło">
            <input name="re-password" type="password" placeholder="Powtórz hasło">
            <input name="name" type="text" placeholder="Imie">
            <input name="Surname" type="text" placeholder="Nazwisko">
            <input name="account_type" type="text" placeholder="Typ konta">
        </div>

        <div class="car_form">
            <input name="brand" type="text" placeholder="Marka:">
            <input name="model" type="text" placeholder="Model:">
            <input name="type" type="text" placeholder="Typ:">
            <input name="year" type="text" placeholder="Rok produkcji:">
            <input name="color" type="text" placeholder="Kolor:">
            <input name="generation" type="text" placeholder="Generacja:">
            <input name="registration_number" type="text" placeholder="Numer rejestracyjny:">
            <input name="combustion" type="text" placeholder="Średnie spalanie:">
        </div>

        <div class="web_slogan">
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="slogan">
                <output>From Random</output>
                <output> For You</output>
            </div>
        </div>

        <div class="statute_form">
            <output>Regulamin1</output>
            <output>Regulamin2</output>
            <button class="button">Zatwierdź</button>
        </div>
    </div>
</body>
</html>