<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "public/css/style_communicator.css">
    <link rel="stylesheet" type = "text/css" href = "public/css/bars.css">
    <script src="https://kit.fontawesome.com/ac9bb0216f.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="container">
        <div class="route_info">
            <output>Twoje zaakceptowane ogłoszenia:</output>
            <div class="route">
                <output>Trasa:</output>
                <output>Miasto1</output>
                <i class="fas fa-arrow-right"></i>
                <output>Miasto2</output>
            </div>
        </div>

        <div class="orders">
            
        </div>

        <div class="buttons">
            <button class="button">Dodaj</button>
            <button class="button">Zatwierdź</button>
        </div>
    </div>
</body>
</html>