<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href = "../css/style_start.css">
    <link rel="stylesheet" type = "text/css" href = "../css/bars.css">
    <script src="https://kit.fontawesome.com/ac9bb0216f.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="container">
        <div class="start_search">
            <div>
                <output>Przewozy w najniższych cenach</output>
            </div>
            <div class="input_bars">
                <div>
                    <i class="far fa-circle"></i>
                    <input name="start" type="text" placeholder="Miasto wyjazdu:">
                </div>
                <div >
                    <i class="far fa-circle"></i>
                    <input name="end" type="text" placeholder="Miasto docelowe:">
                </div>
                <div >
                    <i class="far fa-calendar-alt"></i>
                    <input name="order_date" type="text" placeholder="Data:">
                </div>
                <div>
                    <i class="fas fa-car-side"></i>
                    <input name="type_of_order" type="text" placeholder="Typ usługi:">
                </div>
                <div>
                    <i class="fas fa-search"></i>
                </div>

            </div>
            
        </div>

        <article class="web_advantages">
            <div>
                <i class="fas fa-coins"></i>
                <output>Oszczędność</output>
            </div>
            <div>
                <i class="fas fa-id-card"></i>
                <output>Weryfikacja</output>
            </div>
            <div>
                <i class="fas fa-shipping-fast"></i>
                <output>Szybkość dostaw</output>
            </div>

        </article>
    </div>
</body>
</html>