
.base-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

li i {
    font-size: 2em;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.base-container > header > ul{
    color: #2A01FF;
    grid-gap: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
    list-style-type: none;
}

.base-container > header > .header_logo{
    /* height: 7vh; */
    width: 10vw;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 2em;
}

img{
    height: 5vh;
    margin: 0.5em;
}

.base-container > header{
    width: 100vw - 2px;
    /* height: 7vh; */
    background: transparent linear-gradient(180deg, #FCEB0A 0%, #FCF270 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    grid-gap: 2vw;
    align-items: center;
}

.break_bars{
    width: 100vw - 2px;
    height: 2vh;
    background: #D7E1FC 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

section{
    width: 100vw;
    height: 85vh;
    background-color: #707070;
}

.lower_bar{
    width: 100vw;
    height: 5vh;
    background: #CCCCCC 0% 0% no-repeat padding-box;
    border: 0 0 1px 0 solid #707070;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
}

.socialmedia_bar{
    /* margin: 0.5em; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* align-content: center; */
    grid-gap: 1vw;
}

.support_bar{
    /* margin: 0.5em; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* align-content: center; */
    grid-gap: 4vw;
}





