#map {
    height: 20vh;

}

.marker {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Logo_Wydzia%C5%82u_Informatyki_i_Telekomunikacji_Politechniki_Krakowskiej.png/480px-Logo_Wydzia%C5%82u_Informatyki_i_Telekomunikacji_Politechniki_Krakowskiej.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 0 1em rgba(0,0,0,0.5) ;
}

section {
    grid-template-columns: 1fr !important;
    padding: 0 !important;
    overflow: hidden;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.geocoder {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: left;
    font-family: 'Arial';
    margin: 0;
    font-size: 13px;
}
#instructions {
    position:absolute;
    height: 50px;
    margin:20px;
    width: 25%;
    top:0;
    bottom:0;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    overflow-y: scroll;
    font-family: sans-serif;
}

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; height: 70%}