body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 77vh;
    background: #D7E1FC 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.container > .quotation_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 2em;
}

.container > .quotation_result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.quotation_form > li{
    width: 40vw;
    height: 10vh;

    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #F8F817;
    border: 1px solid #000000;
}

.quotation_result > .result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.quotation_result > .result > .price{
    width: 20vw;
    height: 10vh;

    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #F8F817;
    border: 1px solid #000000;
}

.quotation_result > .web_slogan{
    justify-self: center;
    align-self: center;
    grid-column: 2 / 4;
    grid-row: 1;
    font-size: 3em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.quotation_result > .web_slogan > .logo{
    display: flex;
    line-height: 4em;
}

.quotation_result > .web_slogan > .logo > img{
    height: 15vh;
    margin: 0.5em;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
        align-items: center;
        
        grid-gap: 5vw;
    }

    * {
        font-size: 25px;
    }

    .login-container{
        width: 100%;
        height: 70%;
    }

    img { 
        width: 90%;
    }

    .logo{
        width: 100%;
        height: 80%;
    } 

    .slogan{
        width: 100%;
        height: 60%;
        font: normal normal normal 2px/20px Javanese Text;
    }

    input{
        width: 90%;
        padding: 0.5em;
        margin: 0.5em;
    }

    button {
        width: 50vw;
        height: 10vh;
        font-size: 100%;
    }

    form {
        height: 90%;
        margin: auto;
    }
}