body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 77vh;
    background: transparent linear-gradient(180deg, #FDEB00F5 0%, #FAF7CA 28%, #FAF7CA 100%, #808080 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 2vw;
}

.logo {
    width: 35vw;
    height: 20vh;
    text-align: center;
}

.slogan{
    width: 35vw;
    text-align: center;
    font: normal normal normal 100px/100px Javanese Text;
    letter-spacing: NaNpx;
    color: #0810FF;
}

.login-container {
    width: 70vw;
    height: 50vh;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 540px;

    background: #D7E1FC 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

button {
    width: 280px;
    height: 84px;

    background: #F7F767 0% 0% no-repeat padding-box;
    border: 1px solid #F8F817;
    border-radius: 32px;

    text-align: center;
    font: normal normal normal 40px/50px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 28px;

    padding: 1em;
    margin: 1em;
    width: 45vw;

    text-align: left;
    font: normal normal normal 25px/50px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #000000;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
        align-items: center;
        
        grid-gap: 5vw;
    }

    * {
        font-size: 25px;
    }

    .login-container{
        width: 100%;
        height: 70%;
    }

    img { 
        width: 90%;
    }

    .logo{
        width: 100%;
        height: 80%;
    } 

    .slogan{
        width: 100%;
        height: 60%;
        font: normal normal normal 2px/20px Javanese Text;
    }

    input{
        width: 90%;
        padding: 0.5em;
        margin: 0.5em;
    }

    button {
        width: 50vw;
        height: 10vh;
        font-size: 100%;
    }

    form {
        height: 90%;
        margin: auto;
    }
}