* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


body > header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(90deg, rgba(0,143,255,.2) 0%, rgba(0,143,255,.2) 55%, rgba(0,143,255,1) 100%);
    border-bottom: 5px solid #008FFF;
}

header > ul {
    grid-column: 1;
    width: 17vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: left;
    align-items: center;
    font-size: 2em;
    padding-right: 1em;
}

header > .header_logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .header_logo > a{
    text-align: center;
}

header > .header_logo > a > img {
    width: 50%;
}

header > .option-container {
    position: absolute;
    z-index: 999;
    top: 10vh;
    left: -15vw;
    height: 90vh;
    width: 15vw;
    padding: 2em 0 0 1em ;
    background: #dcf0ff;
    border-right: 2px solid #51b1fb;
    line-height: 2em;
    font-size: 1.2em;
}

header > div.active_nav {
    left: 0;
    transition: 0.2s;
}

header > .option-container > ul > li:hover > a {
    font-weight: bold;
    border-bottom: 1px solid blue;
    transition: 0.15s;
}

body > main {
    height: 90vh;
    width: 100%;
}

main > .start {
    width: 100%;
    height: 40vh;
    background-image: url("../img/start_background.svg");
    background-color: #cccccc;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 5vh;
    font-size: 4em;
    border-bottom: 5px solid #008FFF;
}

.start > p {
    font-weight: bold;
    color: rgb(255, 231, 134);
}

main > .web_advantages{
    display: block;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 4em;
    justify-content: space-around;
}

.web_advantages > i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.2em;
}

footer {
    width: 100%;
    height: 3vh;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    
}

footer > ul {
    display: flex;
    flex-direction: row;
    width: 15%;
    font-size: 1.2em;
    justify-content: space-around;
    align-self: center;
}

footer > ul > li > a, footer > ul > li > a > i {
    color: #fff;
}

.wallpaper  {
    background-image: url("../img/wallpaper.svg");
    display: flex;
    background-size: cover;
    opacity: .8;
    justify-content: center;
    align-items: center;
} 

main > .form_wrapper {
    display: flex;
    width: 75vw;
    height: 75vh;
    background-color: #eeeeffdd;
    border-radius: 5em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form_wrapper > .web_slogan {
    width: 33vw;
    font-size: 3.5em;
}

.web_slogan > .logo {
    text-align: center;
}

.web_slogan > .logo > img {
    width: 33vw;
} 

.web_slogan > .slogan {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form_wrapper > form.login {
    width: 33vw;
    height: 65vh;
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    justify-content: center;
}

form.login > h1 {
    font-size: 2.1em;
}

form.login > div.imput_holder{
    margin: 1em 1em 0 1em;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form.login > div.extra {
    height: 35vh;
}

input {
    height: 5vh;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #555;
    color: #555;
    font-size: 1em;
    width: 95%;
    line-height: 1.5em;
}

.separator {
    border-left: 3px solid #555;
    height: 65vh;
}

form.login > button {
    border: 1px solid #fff;
    background-color: #0082dd;
    border-radius: 1em;
    margin-top: 1em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #fff;
    padding: 1em;
    width: 10vw;
}

form.login > button, form.login > .messages{
    align-self: center;
}

form.login > p {
    font-size: 0.7em;
    padding: 1em 0;
} 

p > a {
    font-weight: bold;
    color: red;
}

main > #chat-interface {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 75vh;
    background-color: #fff;
    border-radius: 1em;
    align-items: center;
}

#chat-interface > #recipient-select{
    width: 100%;
    height: 4vh;
    margin-bottom: 1vh;
    padding-left: 2vw;
    border-radius: 0.85em 0.85em 0 0;
    font-size: 1.2em;
    background-color: #008FFF;
    color: #FFF800;
}

#chat-interface > #recipient-select > option{
    background-color: #fff;
}

#chat-interface > #messages{
    width: 100%;
    height: 62vh;
    margin-bottom: 1vh;
    padding: 0 2em 0 2em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;

}

#chat-interface > #messages > div {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #f4f4f4;
    color: white;
    align-self: flex-start;
    align-items: flex-start;
    max-width: 80%;
}

#chat-interface > #messages > div > p {
    font-size: 0.7em;
}

#chat-interface > #messages > div > span {
    word-wrap: break-word;
}

#chat-interface > #messages > div.sender {
    background-color: #0084ff;
    color: black;
    align-self: flex-end;
    align-items: flex-end;
    text-align: right;
}



#chat-interface > #message-form{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: #eee;
    border-radius: 0 0 0.85em 0.85em;
    justify-content: space-around;
    align-items: center;
}

#chat-interface > #message-form > input {
    width: 70%
}

#chat-interface > #message-form > div{
    display: flex;
    flex-direction: row;
    width: 12%;
    justify-content: space-around;
    align-items: center;
}

#chat-interface > #message-form > div > i, #chat-interface > #message-form > button > i {
    color: #004CFF;
    font-size: 1.5em;
}

#chat-interface > #message-form > button {
    border: 1px solid black;
    background-color: #F8F817;
    font-size: .8em;
    padding: 1em;
    border-radius: 2em;
    text-align: center;
}

/*  justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center; */


