html, body {
    height: 90%;
}

body {
    padding-top: 50px;
}

.container-add-tr {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0;
    margin-left: 10px;
    column-gap: 3em;
}

button {
    background: #0012FF 0% 0% no-repeat padding-box;
    border: 1px solid #F8F817;
    border-radius: 32px;
    text-align: center;
    align-self: center;
    width: 7vw;
    height: 5vh;
    margin-bottom: 0.5em;
    font: normal normal normal 25px/30px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #F8F817;
}

.mapboxgl-map {
    width: 100%;
    height: 250px;
}

.addRouteInfo {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 1em;
    column-gap: 1em;
}

.addRouteInfo > div > input{
    border: none;
    border-bottom: 2px solid #000000;
}

.column_1, .column_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;
}

.container-add-tr > .web_slogan{
    width: 35vw;
    justify-self: center;
    align-self: center;
    font-size: 3em;
    justify-content: space-around;

}

.container-add-tr > .web_slogan > .slogan > span{
    width: 35vw;
    text-align: center;
    justify-content: space-around;
    font: normal normal normal 80px/80px Javanese Text;
    letter-spacing: normal;
    color: #0810FF;
}

.container-add-tr > .web_slogan > .logo{
    display: flex;
    flex-direction: column;
    line-height: 4em;
    width: 35vw;
    height: 20vh;
    justify-content: center;
    justify-self: center;
}


.container-add-tr > form{
    width: 45vw;
    font-size: 1.2em;
    row-gap: 0.5em;
}

.container-add-tr > form > div > input, textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
}

@media only screen and (max-device-width: 420px) {

    .container-add-tr{
        margin: 0;
        padding-top: 0;
        padding-bottom: 25vh;
    }

    .container-add-tr > form{
        width: 90%;
        justify-self: center;
    }

    .web_slogan{
        display: none;
    }

    .container-add-tr > form > .buttons{
        column-gap: 1em;
    }

    .container-add-tr > form > .buttons > button{
        width: 30vw;

    }

    .addRouteInfo {
        display: flex;
        flex-direction: column;

    }

    .data{
        height: 180vh;
        margin-bottom: 25vh;
    }

    .data > .container > .buttons{
        align-content: flex-start;
        justify-content: flex-start;
    }

    .data > .container > .buttons > button {
        width: 30vw;
    }
}